# Python
__pycache__/
*.py[cod]

# Environments
env/
.venv/
.conda/
.pytest_cache/

# IDE
.vscode/
.idea/

# Deep Learning Artifacts
*.pth
*.pt
*.ckpt
*.h5
weights/
checkpoints/

# Data
data/
datasets/

# Logs
runs/
logs/
wandb/

# Jupyter
.ipynb_checkpoints